{% extends 'base.html' %}

{% block content %}

<form method="post" class="pure-form pure-form-stacked">{% csrf_token %}
    <fieldset>

        {% if form.errors %}
            {{ form.non_field_errors }}
            {{ form.title.errors }}
            {{ form.content.errors }}
        {% endif %}

        {{ form.title }}
        {{ form.content }}

        {% if form.delete %}
            {{ form.delete.errors }}
            <label for="delete" class="pure-checkbox">Delete</label>
            {{ form.delete }}
        {% endif %}

        <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </fieldset>
</form>

{% endblock %}