{% extends 'base.html' %}

{% block content %}

    {% for article in articles %}
        <div class="posts">
            <!-- A single blog post -->
            <section class="post">
                <header class="post-header">
                    <a href="{{ article.get_absolute_url }}"><h2 class="post-title">{{ article.title }}</h2></a>
                </header>
                <div class="post-description">
                    <p>{{ article.content }}</p>
                </div>
            </section>
        </div>
    {% endfor %}
    
{% endblock %}