{% extends 'base.html' %}

{% load markup %}

{% block content %}

    {% for article in articles %}
        <div class="posts">
            <section class="post">
                <header class="post-header">
                    {% if admin %}
                        <a href="{{ article.get_edit_url }}">
                    {% else %}
                        <a href="{{ article.get_absolute_url }}">
                    {% endif %}
                    <h2 class="post-title">{{ article.title }}</h2></a>
                </header>
                <div class="post-content">
                    <p>{{ article.content|markdown:"safe" }}</p>
                </div>
            </section>
        </div>
    {% endfor %}
    
{% endblock %}
